*.pyc
*.swp
*~
tags
ic_launcher.png
.DS_Store

/assets
/assets_*

/sdks/*/assets/
/sdks/*/bin/
/sdks/*/obj/
/sdks/*/gen/
/sdks/*/local.properties
/sdks/*/proguard-project.txt
/sdks/*/project.properties

/libs/*/bin/
/libs/*/obj/
/libs/*/gen/
/libs/*/local.properties
/libs/*/proguard-project.txt
/libs/*/project.properties

